body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #0b0f1a;
    color: #f4f4f4;
    line-height: 1.6;
}

nav {
    /*center alignment here*/
    margin-top: 40px;
}

a:link {
    font-size: 14px;
    color: #c6a85b;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    letter-spacing: 2px;
}

a:hover {
    text-decoration: underline;
    color: #9aa0a6;
}

h1 {
    font-family: ;/*Cormorant Garamond*/
    font-size: 64px;
    color: #c6a85b;
    /*center alignment here*/
    margin-top: 80px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h2 {
    font-family: ;/*Cormorant Garamond*/
    font-size: 36px;
    color: #c6a85b;
    /*center alignment here*/
    margin-top: 100px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h3 {
    font-family: ;/*Montserrant*/
    font-size: 14px;
    color: #9aa0a6;
    text-transform: uppercase;
    /*center alignment here*/
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 2px; 
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

blockquote {
    margin-top: 70px;
    margin-bottom: 70px;
}

blockquote p {
    font-size: 24px;
    color: #c6a85b;
    text-transform: italic;
    /*center alignment here*/
}

ul {
    margin-top: 20px;
    margin-bottom: 40px;
}

li {
    font-size: 18px;
    margin-bottom: 12px;
}


/*Hero Section*/
/*h1 styled under typography rules*/

img {
    /*Subtitle font: font size 20px, #9aa0a6*/
    width: 100%;
}




footer {
    font-size: 14px;
    /*center text*/
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100 px;
    background-color: #000;
}
/*


Additional Sections

    All section elements: padding left 60px, padding-right 60px

Footer

    footer: font size 14px, text centered, padding top 50px, padding bottom 50px, margin top 100px, background color #000 (black)
*/